/* Pagination rules */
.pagination_starfish_clean {
    clear: both;
    font-size: 11px;
    line-height: 11px;
}
.pagination_starfish_clean ul {
    padding: 0;
    margin: 0;
}
.pagination_starfish_clean li {
    list-style:none;
    float: left;
    margin: 1px;
}
.pagination_starfish_clean a.box {
    display: block;
    margin-right: 5px;
    border: 1px solid #c1c1c1;
    background: #f1f1f1;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
}
.pagination_starfish_clean a.box:hover {
    border: 1px solid #000;
    color: #000;
}
.pagination_starfish_clean a.free {
    padding: 10px;
    display: block;
    margin-right: 5px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
}
.pagination_starfish_clean li.active {
    display: block;
    margin-right: 5px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
}