/* Pagination rules */
ul.pagination_starfish_clean {
        clear: both;
        
        font-family: arial, cursive;
        font-size: 12px;
        line-height: 14px;
        
        margin: 0;
        padding: 0;
        
        overflow: hidden;
}

ul.pagination_starfish_clean li {
        list-style-image: none;
        list-style: none;
        margin-right: 5px;
        padding: 4px 8px 4px 8px;
        
        float: left;
        
        background: #fff;
        border: 1px solid #000;
}
ul.pagination_starfish_clean li.active {
        background: #000;
        color: #fff;
}
ul.pagination_starfish_clean li.disabled {
        background: transparent;
        border: none;
        color: #000;
}

ul.pagination_starfish_clean li a {
        color: #000;
        text-decoration: none;
}

ul.pagination_starfish_clean li a,
ul.pagination_starfish_clean li span {
        padding: 5px;
        display: block;
}