.main {
    overflow: hidden;
}

.title {
	text-transform: capitalize;
	padding-bottom: 10px;
}
span.class-row-title {
	font-weight: bold;
	min-width: 300px;
}

.method {
	border-left: 2px solid #aaa;
}

.method .body {
	margin: 10px 0px 20px 10px;
	position: relative;
}

.method .body h3 {
	font-size: 12px;
	text-align: right;
	position: absolute;
	right: 0;
	top: 0;
}

.method .body .highlight {
	/*background: #f9f2f4;*/
}

.method .comments {
	margin: 10px 0px 10px 0px;
	padding: 10px 5px 10px 5px;
	overflow: hidden;
	background: #f1f1f1;
}
.method .comments p {
	margin: 5px 0px 5px 0px;
}

/* Tree search */
.tree-search {
	margin: 1em;
}
.tree-search input {
	width: 100% !important;
}

/* @see http://bootsnipp.com/snippets/featured/bootstrap-30-treeview */

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}

.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}

.tree ul li.tree-li-last-child:before,
.tree.corner ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}