<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /starfish/_examples/post-it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?=$1 [QSA,L]

ErrorDocument 404 " "
</IfModule>